<ul>
	<ul class="nav nav-pills nav-stacked">
		{% for article in liste_article %}
			<li><a href="{{ path('sdzblog_voir', {'id': article.id}) }}">{{ article.titre }}"></a></li>
		{% endfor %}
	</ul>
</ul>